@font-face {
    font-family: 'ClockFont';
    src: url('clockfont.otf') format('truetype');  /* Specify the format */
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'AlarmFont';
	src: url('alarmclock.ttf') format('truetype');
	font-style: bolder;
	font-weight: 900;
}

body {
    display: flex;
    justify-content: space-evenly; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
    margin: 0; /* Remove default margins */
    background-color: black;
    color: #C5B4E3;
	overflow: hidden;
}

.region {
    padding-top: 1vw;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack time and date vertically */
    align-items: center; /* Center align items horizontally */
}

.clock-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center; /* Center clocks in container */
    gap: 0.5vw; /* Add some space between clocks */
}

.clock {
    position: relative;
    width: 32vw; /* Dynamic width */
    height: 18vw; /* Dynamic height */
    max-width: 33vw; /* Optional: Max width for large screens */
    box-sizing: border-box;
	border-radius: 2vw;
    border: 0.3vw solid #440099; /* Use vw for border size */
    text-align: center;
    padding: 2vw; /* Use vw for padding */
}

.auckland{
	text-transform: uppercase;
    width: 40vw; /* Dynamic width */
    height: 19.2vw; /* Dynamic height */
    box-sizing: border-box;
    border: 0.9vw #C8102E; /* #C8102E, #32CD32, #ff4f00 */
	border-style: outset;
	border-radius: 2vw;
	margin-left: 30%;
	margin-right: 30%;
    text-align: center;
	padding-top: 2%;
}

.auckland .time{
	font-size: 14.5vw;
}

.auckland .weekday{
	margin-bottom: -2em;
}

.weekday {
	font-family: 'ClockFont', sans-serif;
    font-weight: normal; /* Adjust weight as needed */
    font-size: 2vw; /* Adjust size dynamically */
	text-transform: uppercase;
    color: #C5B4E3; /* Match color to theme */
	margin-bottom: -1.1em;
}

.weekday-daytime {
	color: #C5B4E3; /* alt. #221551 #440099 */
}

.weekday-nighttime {
	color: #BBE5E9;
}

h2 {
    margin-top: -0.5em;
    font-size: 4.5vw; /* Use vw for font size */
    color: white;
    font-family: 'ClockFont', sans-serif;
	margin-bottom: -0.4em;
}

.time {
	font-family: 'ClockFont', sans-serif;
    font-size: 11vw; /* Use vw for dynamic font size */
    transform: scaleY(0.90);
    letter-spacing: -0.3vw; /* Use vw for letter spacing */
}

.am-time {
    color: #440099; /* Air NZ purple */
}

.pm-time {
    color: #00B0B9; /* Air NZ Teal */
}

.daytime {
    background-color: #FFFFF0; /* light beige */
}

/* , .daytime .date  */
.daytime h2{
    color: black;
}

/* remove keyframes blink and .blink in action if need to remove blinking */
/*@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blink {
    animation: blink 1s step-end infinite;
}*/
